:root {
  --white: #fff;
  --slate-300: #d5e1ef;
  --slate-500: #68778d;
  --slate-900: #1f314f;
}

body {
  background: var(--slate-300);
  font-family: "Outfit", sans-serif;
}

.page-wrapper {
  min-width: 100vw;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

